
config chinadns-ng
	option enable '0'
	option bind_addr '127.0.0.1'
	option bind_port '65353'
	option china_dns '114.114.114.114'
	option trust_dns '8.8.8.8'
	option ipset_name4 'chnroute'
	option ipset_name6 'chnroute6'
	option gfwlist_file '/etc/chinadns-ng/gfwlist.txt'
	option chnlist_file '/etc/chinadns-ng/chinalist.txt'
	option timeout_sec '3'
	option repeat_times '1'
	option chnlist_first '0'
	option fair_mode '1'
	option reuse_port '0'
	option noip_as_chnip '1'

